* {
    box-sizing: border-box;
  }

body{
    background-color: rgb(190, 186, 186);
 
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: rgb(74, 181, 214);
}
#Qua {
    margin-left: 100px;
}

#maincontent {
    margin-top: 20px;
    margin-bottom: 40px;
}

@media screen and (max-width: 640px) {
    body {
        background-color: rgb(53, 54, 59)
    }
    #Qua {
        text-align: center;
        align-content: center;
    }
    #maincontent {
        padding: 10px;
        text-align: center;
    }
    
}