* {
    box-sizing: border-box;
  }
body{
    background-color: rgb(190, 186, 186);
 
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: rgb(74, 181, 214);
}
#Qua {
    margin-left: 50px;
}

#maincontent {
    margin-bottom: 50px ;
    padding-bottom: 100px;
}

#maincontent img {
    padding-right: 20px;
    padding-bottom: 20px;
}



@media screen and (max-width: 640px) {
    body {
        background-color: rgb(53, 54, 59);
    }

     #Qua {
        width: 100%;
        margin-left: 5px;
      
    }
    #maincontent {
        
    }
    #maincontent img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding:10px;
    
      }
      
    p {
        position: relative;
        bottom: -10px;
      
    }

    #links {
        margin-left: 5px;
    }
}