* {
    box-sizing: border-box;
  }
body{
    background-color: rgb(190, 186, 186);
 
}

.col-lg-7{
    margin-top: 10px;
    padding: 10px;
}
h2 {
    font-family: 'Roboto', sans-serif;
    color: rgb(74, 181, 214);
}
#Qua {
    margin-left: 8%;
}

#maincontent img {
    padding-right: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;   
  }


@media screen and (max-width: 640px) {
    body {
        background-color: rgb(53, 54, 59);
    }

    #maincontent {
        width: 100%;
        margin-bottom: 20px;
    }
    
    #maincontent img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding:10px;
    
      }

    footer {
        position: relative;
        bottom: 0;
        width: 100%;  ; 
      }

}