* {
    box-sizing: border-box;
  }
body{
    background-color: rgb(190, 186, 186);
 
}

.navbar {
    margin-bottom: 20px;
}

.col-md-8 {
    padding: 10px;
}
h2 {
    font-family: 'Roboto', sans-serif;
    color: rgb(74, 181, 214);
}
#Qua {
    margin-left: 50px;
}

#maincontent {
    margin-bottom: 20px ;
    padding-bottom: 60px;
}

#maincontent img {
   padding: 10px;
}



@media screen and (max-width: 640px) {
    body {
        background-color: rgb(53, 54, 59);
    }

     #Qua {
        width: 100%;
        margin-left: 5px;  
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 10px;
    }
      
    #links {
       display: block;
        margin-left: auto;
        margin-right: auto;
    }

}