body{
    background-color: rgb(190, 186, 186);
}

h2 {
    font-family: 'Roboto', sans-serif;
    color: rgb(74, 181, 214);
}

@media screen and (max-width: 575.98px) {
    body{
        background-color: rgb(190, 186, 186);
    }

    #wrapper {
        width: 100%;
        padding: 20px;
    }
}