<header>
    <nav class="navbar navbar-light bg-light">
        <section id = "Qua">
            <a href="/" class="navbar-brand"> QUA NGUYEN</a>
        </section>
        <section id = "links">
            <form class="form-inline">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="/">About Me</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="/portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Me</a>
                </li>
            </ul>
            </form>
        </section>   
    </nav>
</header>
<div class="image">
</div>  
<div class="container"> 
    <div class="row">
        <div class="offset-lg-2 col-lg-8 main bg-light">
            <div class="card bg-light" style="max-width: 100%;">
                <div class="card-header text-center"><h2>About Me</h2>
                </div>
                <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                    <img src="https://ca.slack-edge.com/T014U3JM54M-U01514YRQTH-af395cfd4625-512" class ="avatar-flip " width="400" height= "300"  class= "img-fluid" alt="Responsive image" ALIGN="left" >
                    </div>
                    <div class ="col-md-9">
                    <p class="card-text"> Full-stack web developer leveraging a business and education background to build a more intuitive user experience.  Recently earned a certification in full stack development from the University of Denver with newly developed skills in JavaScript, CSS, React.JS and responsive web design. Known as an innovative problem solver passionate about developing apps, with a focus on mobile-first design and development. </p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
<footer>
    <div class="card">
        <div class="card-body">
          <div class="text-center">
            &copy; Qua Nguyen
          </div>
        </div>
    </div>
</footer> 


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</html>