
body{
    background: black url("./background.jpg")no-repeat center center fixed;;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;

}

.btn{
    background-color: thistle;
}

#links,a {
    font-size: 25px;
}
a {
    color: black
}

.card{
    margin-bottom: 10px;
}

#container{
    position: relative;   
}

.card{
    background-color: rgb(128, 130, 243);
    margin-left: 10px;
}

.avatar-flip {
    border-radius: 100px;
    overflow: hidden;
    height: 200px;
    width: 200px;
    position: relative;
    margin: auto;
    transform: rotate(-25deg);
  }

.wrapper {
    display: block;
}

.active{
    display:inline-block
}

.hidden{
    display: none;
}

p{
    font-size: 20px;
}

#aboutMe{
    position: relative;
    top: 200px;
    color: white;
}

#sidebar-container{
    position: absolute;
    top: 40px;
    left: 25px;
}

#sidebar {
    background-color: rgba(221, 224, 243, 0.5);
    width:250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    color: white
}
#sidebarCollapse{
    display: none;
}

@media screen and (max-width: 800px) {
    body{
        background-size: auto;
        color: white;
    }
    #sidebar{
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        position: relative;
        width: 100%;
        height: 50px;
        padding-bottom: 0;
        overflow: hidden;
    }
    #sidebar-container{
        position: absolute;
        top: 0px;
        left: 5px;
        padding: 5px
    }
    .avatar-flip{
        display: none;
    }
    #links{
        display: none;
    }
    .sidebar-header{
        display: none;
    }
    #social-media-apps{
        top: 0;
        left: 0;
        z-index: 9999;
    }
    #sidebarCollapse{
        display: inline;
        float: right;
        margin-right: 5px;
        margin-top: 10px;
    }
    #expandable-links{
        background-color: rgba(221, 224, 243, 0.5);
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        position: relative;
        width: 100%;
        height: 100px;
        padding-bottom: 0;
        overflow: hidden;
    }
    #float{
        float: right;
    }
    .card img{
       width:100%
    }
}